<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>HOME PAGE BRUH!</h1>
    <p> <%= 4 + 10 +4 %></p> <!-- EJS example-->
    <p> <%= "I'm Wyatt and this is uppercase".toUpperCase()%></p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur numquam quam animi dolore maiores amet quia non accusantium, nulla hic, recusandae cumque! Minus accusantium iusto eveniet ducimus quae possimus vel?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi optio, nulla illum maxime nesciunt nemo, praesentium, possimus ipsum officia itaque nisi debitis excepturi molestiae aut magnam minima accusantium ad vero.</p>

</body>
</html>